[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
After=time-sync.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --web.console.templates=/etc/prometheus/consoles \
  --web.console.libraries=/etc/prometheus/console_libraries \
  --web.listen-address=0.0.0.0:9090 

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
